<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         backupGlobals="true"
         beStrictAboutOutputDuringTests="true"
         bootstrap="vendor/autoload.php"
         cacheResult="false"
         colors="true"
         executionOrder="depends,defects"
         failOnRisky="true"
         failOnWarning="true"
         testdox="true"
>
    <testsuites>
        <testsuite name="uma/uuid test suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <report>
            <clover outputFile="build/coverage.xml"/>
            <html outputDirectory="build/coverage"/>
            <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
    </coverage>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
